/* Imopre google class */
body {
  margin: 0;
  font-family: 'Raleway',sans-serif;
  color: #fff;
  background-color: #f5f4ff;
}



header.background-ing{
   background: url('../Assets/Hero-bg.png')
   height: 100vh
   display: flex;
   Flex-direction: column;
   justify-content: space-between;
   padding: 40px;
   color: #0000000;
}
.new{
  color: #003cff;
}

.nev-content {
 display: flex;
 color: #4E47FF;
 justify-content: space-between;
  align-items: center;
}

.nav-title{
 font-size: 24px;
}


.btn-ptimary{
  background-color:  #007bff;
  border: none;
  color:  #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inter' sans-serif'
}

.hero-content {
text-align: center;
margin-top: auto; 
margin-bottom: 80px;
}

.here-content .content-title {
font-size: 48px;
line-height: 1.2;
margin-bottom: 20px;
}

.action-section {
display: flex;
justify-content: space-around;
align-items: center;
padding: 80px 40px;
background-color: #1f1f1f;
}

.action {
    flex: 1;
    padding: 20px;
}

.action-title {
font-size: 32px;
margin-bottom: 10px;
}    
.action-description {
font-size: 18px;
margin-bottom: 20px;
}
.action-ing {
max-width: 100%;
border-radius: 10px;
}
.user-section {
text-align: center;
padding: 60px 40px; 
background-color: #ddd6f8
}

.user-title {
font-size: 36px;
margin-bottom: 40px;
}

.iteam-container {
display: flex; 
justify-content: center;
gap: 60px;
color: #f5f8ff;
}

.user-iteam {
 padding: 40px;
 border-radius: 10px;
 color:  #003cff;
}

.iteam-title {
  font-size: 48px;
  margin: 0;
}

.item-description {
  font-size: 40px;
  margin: 5px;
}

.git-section {
 padding: 60px;
 background-color:  #f5f8ff;
 color:  #000000;
 text-align: center;
}

.git-section-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.git-containaer {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.gititeam {
  border:  #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.git-icon img {
  width: 20px;
}

.git-titel {
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.description {
  font-size: 16px;
}

.pro {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.free {
  align-items: center;
  background: #ffffff;
  padding: 80px 40px;
  color:  #000;
  width: 900px;
  margin: auto;
}

.free-content {
  flex: 1;
}

.free-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.free-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.free-to-img {
  max-width: 100%;
  border-radius: 10px;
}

.nfree-section {
  background-color: #f5f8ff;
  padding: 60px 40px;
  text-align: left;
  color: #000;
}

.nfree-containar form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 40px;
  margin: 0 auto;
}

.label-title {
  text-align: left;
  font-size: 16px;
}

input[type="email"]
input[type="text"]
textarea {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-family: 'inter',sans-serif;
}

.btn-ptimary{
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
}

.footer-section {
   background: #ffffff;
  padding: 40px;
  text-align: center;
  color: #000;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-deseription {
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
}

.footer-centainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #000;
}

.footer-centainer .iteam a {
  color: black;
  text-decoration: none;
  font-size: 16px;

}